@model IEnumerable<travel_blog.Models.NewPerson>

@{
    ViewData["Title"] = "New Persons Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h4>@Html.DisplayNameFor(model =>model.name)</h4>
    <ul>
        @foreach(var person in Model)
        {
            <li>@Html.DisplayFor(modelItem => person.name) | @Html.ActionLink("Details", "Details", new { id = person.personId }) | @Html.ActionLink("Delete", "Delete", new { id = person.personId }) | @Html.ActionLink("Edit", "Edit", new { id = person.personId })</li>
        }
    </ul>

<p>@Html.ActionLink("Add new location", "Create") </p>
